.rfb {
  --rfb-color: #2e2c2c;
  --rfb-border-color: #eaeaea;
  --rfb-background-color: #ffffff;
  --rfb-disabled-background-color: #f6f6f6;
  --rfb-input-font-size: 14px;
  --rfb-border-radius: 3px;
  --rfb-input-height: 2.5rem;
  --rfb-check-size: 1rem;

  &__input,
  &__select {
    height: var(--rfb-input-height);
  }

  &__input,
  &__select,
  &__textarea {
    background-color: var(--rfb-background-color);
    padding: 0 0.75rem;
    border-radius: var(--rfb-border-radius);
    border: 1px solid var(--rfb-border-color);
    color: var(--rfb-color);
    font-size: var(--rfb-input-font-size);
    transition: border-color 0.25s ease-in-out;

    &:focus {
      border-color: var(--rfb-focus-border-color);
    }

    &[disabled] {
      background-color: var(--rfb-disabled-background-color);
    }
  }

  &__textarea {
    resize: vertical;
    height: 140px;
    padding: 0.75rem;
  }

  &__radio-list,
  &__check-list {
    display: flex;
    flex-direction: column;
    gap: calc(var(--rfb-gap) * 0.25);
    font-size: var(--rfb-input-font-size);

    > div {
      display: flex;
      flex-direction: row;

      > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;

        div {
          display: flex;
          justify-content: center;
          align-items: center;
          width: var(--rfb-check-size);
          height: var(--rfb-check-size);
          min-width: var(--rfb-check-size);
          min-height: var(--rfb-check-size);
          background-color: var(--rfb-background-color);
          border: 1px solid var(--rfb-border-color);

          &::before {
            content: '';
            display: block;
            width: calc(var(--rfb-check-size) * 0.5);
            height: calc(var(--rfb-check-size) * 0.5);
            background-color: var(--rfb-color);
            opacity: 0;
            transition: opacity 0.25s ease-in-out;
          }
        }

        span {
          padding-left: calc(var(--rfb-gap) * 0.5);
        }

        &.selected div {
          &::before {
            opacity: 1;
          }
        }
      }
    }
  }

  &__radio-list {
    > div > div div {
      border-radius: 50%;

      &::before {
        border-radius: 50%;
      }
    }
  }

  &__check-list {
    > div > div div {
      border-radius: 2px;

      &::before {
        border-radius: 2px;
      }
    }
  }
}
