.form-builder {
  --form-builder-error-font-size: 13.5px;
  --form-builder-error-color: #f73131;
  --form-builder-font-size: 15px;
  --form-builder-gap: 1rem;

  display: grid;
  gap: var(--form-builder-gap);
  font-size: var(--form-builder-font-size);

  &__input-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__label {
    padding-bottom: 0.25rem;
  }

  &__error-message {
    padding-top: 0.25rem;
    font-size: var(--form-builder-error-font-size);
    color: var(--form-builder-error-color);
    opacity: 1;
    transition: opacity 0.25s ease-in-out;

    &:empty {
      padding-top: 0;
      opacity: 0;
    }
  }

  .error {
    input,
    select,
    textarea {
      border-color: var(--form-builder-error-color);
    }
  }
}
